<div class="complete-gracias">
	<mat-grid-list [cols]="pantalla" rowHeight="100%" (window:resize)="onResize($event)" class="mat-grid-styles">
		<mat-grid-tile colspan="1" rowspan="1">
			<mat-card class="parte-izquierda padding-parte-izquierda">
				<div style="width: 100%; margin-bottom: 5%; margin-top: 5%">
					<img src="assets/logo_salle.svg" alt="Logo Salle" width="170px" />
				</div>
				<mat-card-content class="form-content-izquierda">
					<div class="titulo-izquierda font-gracias" style="font-size: 80px; margin-top: 60px">
						{{ tituloGracias }}
						<p class="content-procAdmin" style="font-size: 18px; margin-top: 50px; color: black" *ngIf="pantalla != 2">
							{{ mensajeGracias }}
						</p>
						<button mat-raised-button (click)="forzarContinuar()" class="btn-continuar-peq" *ngIf="pantalla == 1">
							Continuar
						</button>
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="1" rowspan="1" *ngIf="pantalla == 2">
			<mat-card class="parte-derecha">
				<img src="assets/astronauta.svg" alt="astronauta" class="astronauta" />
				<img src="assets/logounisalle.svg" alt="lasalle" class="logolasalle" />
				<mat-card-content [style.overflow]="'auto'" style="height: 100%">
					<div style="width: 100%">
						<div class="text-right">
							<p class="content-procAdmin" style="font-size: 18px; margin-top: 50px">
								{{ mensajeGracias }}
							</p>
							<button mat-raised-button (click)="forzarContinuar()" class="btn-continuar">Continuar</button>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>
<div class="img-background" *ngIf="pantalla == 1">
	<img src="assets/astronauta.svg" alt="astronauta" width="205px" />
</div>
