.vinculo {
	background: none !important;
	border: none;
	padding: 0 !important;
	font-family: arial, sans-serif;
	color: #069;
	cursor: pointer;
}

.fontf {
	font-family: Arial, Helvetica, sans-serif;
}

.inscripcion-form {
	width: 100%;
	padding-bottom: 32px;
}

.btn-inscribir {
	padding: 5px 27px;
	font: Roboto, Condensed, Regular;
	font-size: 14px;
	float: right;
	border-radius: 0px;
	margin: 3% 0%;
	background-color: #000000de;
	color: #ffc107;
	font-weight: 400;
}

.btn-inscribir-dark {
	padding: 5px 27px;
	font: Roboto, Condensed, Regular;
	font-size: 14px;
	float: right;
	border-radius: 0px;
	margin: 3% 0%;
	background-color: #03a9f4;
	color: #ffffff;
	font-weight: 400;
}

.btn-inscribir-cnt {
	width: 96%;
	padding: 5px 27px;
	font: Roboto, Condensed, Regular;
	font-size: 14px;
	float: left;
	border-radius: 0px;
	margin: 1% 0%;
	background-color: #000000de;
	color: #ffc107;
	font-weight: 400;
}

.btn-inscribir-dark-cnt {
	width: 96%;
	padding: 5px 27px;
	font: Roboto, Condensed, Regular;
	font-size: 14px;
	float: left;
	border-radius: 0px;
	margin: 1% 0%;
	background-color: #03a9f4;
	color: #ffffff;
	font-weight: 400;
}

::ng-deep .mat-raised-button[disabled].btn-inscribir-dark {
	color: #ffffff8c !important;
}

::ng-deep .mat-raised-button[disabled] {
	color: rgba(0, 0, 0, 0.38) !important;
}

.mat-card.scrollable-content {
	overflow: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #ffffff00;
}

.campoTexto-dark {
	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px #2c2c2c inset;
		-webkit-text-fill-color: #ffc107;
		box-shadow: 0 0 0px 1000px #2c2c2c inset;
	}
}

::-webkit-scrollbar-thumb {
	background: #00000036;
}

::-webkit-scrollbar-thumb:hover {
	background: #00000061;
}

::ng-deep .grecaptcha-badge {
	z-index: 99999 !important;
}

::ng-deep .mat-grid-tile .mat-figur {
	align-items: normal;
}

::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
	box-shadow: 0 0px 0px -0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(12, 12, 12, 0) !important;
}

@media screen and (max-width: 800px) {
	/* Pequeño */
	.img-logo-salle {
		margin-top: 25px;
		width: 46.5%;
	}

	.font-gracias {
		font-size: 20px;
	}

	.mat-grid-styles {
		min-height: calc(100% - 43px) !important;
		height: calc(100% - 43px) !important;
		max-height: calc(100% - 43px) !important;
	}

	.btn-inscribir {
		margin-bottom: 70px;
	}

	.position-button {
		position: absolute;
		top: 100% !important;
		// right: calc(50% - 35px) !important;
		width: 100%;
		height: 70px;
		z-index: 1000;
	}

	.parte-izquierda {
		width: 100%;
		height: 100%;
		border: 0px solid black;
		border-radius: 0px !important;
	}

	.parte-izquierda-dark {
		width: 100%;
		height: calc(100% - 40px);
		border: 0px solid black;
		border-radius: 0px !important;
		background-color: #2c2c2c;
	}

	.padding-parte-izquierda {
		padding: 5.71% 5.55% 5.71% 5.55%;
	}

	.padding-parte-izquierda-reducido {
		padding: 0px;
	}

	.form-content-izquierda {
		height: 100%;
		padding: 0%;
		overflow: auto;
	}

	.form-content-izquierda-reducido {
		height: 100%;
		padding: 0%;
	}

	.terminos-cond {
		font-size: 10px !important;
		color: #00000099;
		letter-spacing: 0.4px;
	}

	.vinculo {
		font-size: 10px;
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	/* Grande */
	.img-logo-salle {
		width: 35%;
	}

	.font-gracias {
		font-size: 80px;
	}

	.mat-grid-styles {
		min-height: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
	}

	.position-button {
		position: absolute;
		top: calc(50% - 35px) !important;
		right: calc(50% - 35px) !important;
		width: 70px;
		height: 70px;
		z-index: 1000;
	}

	.parte-izquierda {
		width: 100%;
		height: 100%;
		border: 0px solid black;
		border-radius: 0px !important;
	}

	.parte-izquierda-dark {
		width: 100%;
		height: calc(100% - 68px);
		border: 0px solid black;
		border-radius: 0px !important;
		background-color: #2c2c2c;
	}

	.padding-parte-izquierda {
		padding: 5.71% 13.04% 5.71% 13.04%;
	}

	.padding-parte-izquierda-reducido {
		padding: 0px;
	}

	.form-content-izquierda {
		height: 100%;
		// padding: 0% 9.21% 12% 9.21%;
		overflow: auto;
	}

	.form-content-izquierda-reducido {
		height: 100%;
		padding: 0%;
	}

	.terminos-cond {
		font-size: 12px !important;
		color: #00000099;
		letter-spacing: 0.4px;
	}

	.vinculo {
		font-size: 12px;
	}
}

.style-button {
	width: 70px;
	height: 70px;
	background-color: white;
	border: 5px solid #ff9100;
	cursor: default;
}

.style-button-two {
	width: 100%;
	background-color: #0066eb;
	color: white;
	height: 60px;
	border-radius: 0px;
}

.titulo-izquierda {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: -0.37px;
	color: #ffc107;
	font: Open, Sans;
}

.titulo-izquierda-reducido {
	width: calc(100% - 40px);
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.15px;
	color: #ffc107;
	font: Roboto, Condensed;
	background-color: white;
	padding: 10px 20px;
}

.subtitulo-izquierda {
	font-size: 16px;
	letter-spacing: 0.5px;
	font: Roboto, Regular;
	font-weight: 500;
	margin-bottom: 28px;
}

.subtitulo-izquierda-dark {
	font-size: 16px;
	letter-spacing: 0.5px;
	font: Roboto, Regular;
	font-weight: 500;
	margin-bottom: 28px;
	color: #ffffff;
}

.parte-derecha {
	width: 100%;
	height: calc(100% - 34px);
	border: 0px solid black;
	border-radius: 0px !important;
	background-color: #ffc107;
	background-image: linear-gradient(to right, #ffc107, #ffb000);
}

.astronauta {
	width: 37%;
	position: absolute;
	top: 0%;
	right: 6.08%;
}

.logolasalle {
	width: 77.04%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.text-right {
	position: absolute;
	width: 73.91%;
	top: calc(50% - 104.4065px);
	left: 13.045%;
}

.titulo-procAdmin {
	font-family: Roboto, Condensed, Regular !important;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.2px;
}

.content-procAdmin {
	font-size: 14px;
	word-wrap: break-word;
	line-height: 20px;
	letter-spacing: 0.25px;
	font-weight: 400;
}

.btn-continuar {
	padding: 5px 27px;
	font: Roboto, Condensed, Regular;
	font-size: 14px;
	float: right;
	border-radius: 0px;
	box-shadow: 3px 1px 17px #00000079;
	letter-spacing: 1.25px;
}

.captcha {
	margin-top: 10px;
}

.terminos-cond-dark {
	font-size: 12px !important;
	color: #ffffff99;
	letter-spacing: 0.4px;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
	line-height: 14px !important;
}

.estilo-formulario {
	width: 96%;
}

::ng-deep .cdk-overlay-pane {
	/* Altera el tamaño de los mat-select para que se pueda ver bien los programas*/
	min-width: 30% !important;
}

::ng-deep .mat-option-text {
	font-size: 12px !important;
}

/*Mariano*/
.campoTexto {
	width: 100%;
	font-size: 16px;
	letter-spacing: 0.15px;
	color: #000000de;
	font-weight: 500;
}

.tipo-doc {
	width: 26%;
	::ng-deep .mat-form-field-wrapper {
		height: 38px;
	}
}

.documento {
	width: 69%;
	margin-left: 5%;
}

.mat-option-text {
	color: red;
	font-size: 6px !important;
}

.mat-label-style-ligth {
	color: #0000008a;
}

.mat-label-style-dark {
	color: #ffc107;
}

::ng-deep .mat-focused .mat-form-field-label .mat-label-style-dark {
	color: #ffffff99 !important;
}

::ng-deep
	.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
	.mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty)
	.mat-label-style-dark {
	color: #ffffff99 !important;
}

.input-style-dark {
	color: #ffc107 !important;
}

::ng-deep .input-style-dark .mat-select-value {
	color: #ffc107 !important;
}

.style-icons {
	color: #00000093;
}

.style-icons-dark {
	color: #ffffff99;
}

::ng-deep .mat-form-field-infix {
	left: 13px !important;
}

::ng-deep .mat-select-arrow {
	border-left: 15px solid transparent !important;
	border-right: none !important;
	border-top: 15px solid transparent !important;
	border-image-repeat: stretch !important;
	border: none;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
	background-color: #449bff !important;
}

::ng-deep .mat-focused .mat-form-field-label {
	color: #00000086 !important;
}

::ng-deep.mat-form-field-ripple {
	background-color: #000000c5 !important;
}

::ng-deep .campoTexto-dark .mat-focused .mat-form-field-label {
	color: #ffffff99 !important;
}

::ng-deep .campoTexto-dark .mat-form-field-underline .mat-form-field-ripple {
	background-color: #ffc107 !important;
}

::ng-deep .campoTexto-dark .mat-form-field-underline {
	background-color: #ffffff99;
}

a:link,
a:visited {
	color: #ffc107;
	text-decoration: none;
	cursor: pointer;
}

a:link:active,
a:visited:active {
	color: #ffc107;
}

.progress-bar-form {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}
