<body [ngClass]="darkMode ? 'body-complete-dark' : 'body-complete'">
  <button
    mat-button
    (click)="changeColor()"
    class="btn-dark"
    *ngIf="!formReducido"
  >
    <mat-icon style="margin-right: 10px;">brightness_3</mat-icon>
    Modo Nocturno
  </button>
  <button mat-icon-button class="btn-close" *ngIf="!formReducido">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="div-fullscreen" *ngIf="!formReducido">
    <div class="div-complete">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="div-reducido" *ngIf="formReducido">
    <router-outlet></router-outlet>
  </div>
</body>
