.div-complete {
  height: 663px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.div-reducido {
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  width: 100%;
  margin: auto;
  height: 1100px;
}

@media screen and (max-width: 540px) {
  .div-complete {
    width: 98%;
    margin: auto;
    margin-top: 5%;
  }
}

@media screen and (min-width: 540px) {
  .div-complete {
    width: 1150px; /*Cambiar esto por porcentaje*/
    margin: auto;
    margin-top: 7%;
  }
}
