/* You can add global styles to this file, and also import other style files */

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	height: 100vh;
}

// .style-body {
//   background-color: #e7eff1;
//   background-image: url("/assets/fondogris.svg");
//   background-size: 80%;
//   background-repeat: repeat;
//   background-position: right;
// }
